Flask==1.1.1
inflect==2.1.0
librosa==0.6.0
matplotlib==3.1.1
numpy==1.16.4
playsound==1.2.2
tornado==6.0.3
unicode==2.7
tensorflow==1.15
torch
torchvision
pillow
Unidecode==1.0.22
numba==0.48
tensorboard