<main>
  <section class='min-vh-100 d-flex flex-column justify-content-center align-items-center'>
    <form class='col-sm-4'>
      <div class="form-group">
        <textarea class="form-control" id="text" maxlength="200" placeholder="Enter text here (max 200 characters)" rows="5"></textarea>
        <span class="pull-right label label-default" id="count_message"></span>
      </div>
      <div class='w-100 d-flex justify-content-center'>
        <div (click)="load()" class="btn btn-primary">Generate</div>
      </div>
    </form>
    <div class='mt-3' id="waveform"></div>
    <div (click)="playPause()" class="btn btn-primary">Play/Pause</div>
  </section>
</main>